* {
    /* padding: 0; */
    margin: 0;
    font-family: 'Share Tech Mono', monospace, Arial;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url("../media/VotV\ -\ BG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #00cf00;
    line-height: 1.5;
}

.index-header {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    margin: 20px 0;
    /* padding-bottom: 20px; */
    padding: 20px;
    background: linear-gradient(to right, rgba(57, 0, 78, 0.353), rgba(57, 0, 78, 0));
    text-align: center;
}

.container {
    position: relative; /* Essential for positioning the pseudo-element */
    /* Other styling for your container */
    /* max-width: 1000px; */
    /* margin: 0 auto; */
}

.container::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../media/Venus.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.5; /* Set your desired opacity */
    z-index: -1; /* Place it behind the content */
}

footer {
    /* border: 2px solid #00cf006d; */
    margin-top: 50px;
}

h1 {
    margin: 0;
    color: #ffffff;
    font-size: 3em;
    font-weight: 100;
    font-style: normal;
    line-height: 2;
    text-shadow: #04AA6D 1.3px 1.3px 8px, #04AA6D -1.3px -1.3px 8px;
}

h2 {
    font-size: 1.2em;
    /* font-weight: bold; */
    text-shadow: #04AA6D 1.3px 1.3px 8px, #04AA6D -1.3px -1.3px 8px;
}

nav {
    /* line-height: 1; */
    padding-left: 3%;
    border: 2px solid #00cf006d;
}

section p {
    font-weight: bold
}

a:visited {
    color: white
}

a:hover {
    color: #00cf00;
    text-decoration: none;
}

a:link {
    color: purple
}

a:active {
    color: yellow
}

a:focus {
    color: orange
}

button {
    background-color: black;
    color: #00ff00;
    font-family: 'Share Tech Mono', monospace;
    justify-content: center;
    border: 2px solid #00ff00;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #00ff001b;
    color: rgba(255, 255, 255, 0.9);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: auto;
}

.item-1 {
    display: flex;
    height: 180px;
    width: 300px;
    margin: 40px 0;
    padding: 20px;
    border-top: 5px dashed #00cf006d;
    border-bottom: 5px dashed #00cf006d;
    border-left: 4px dashed #00cf006d;
    border-right: 4px dashed #00cf006d;
    /* border: 5px dashed #00cf006d; */
    flex-basis: 33%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

#footer {
    color: yellow;
}

.opacity-img {
    display: flex;
    justify-content: center;
    opacity: 50%;
}

/* .banner {

} */

.terminal-img {
    display: flex;
}

.terminal-button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}