* {
    /* padding: 0; */
    /* margin: 0; */
    font-family: 'Share Tech Mono', monospace, Arial;
    font-size: 18px;
}

body {
    background-color: black;
    background-image: url("../media/VotV\ -\ BG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #00cf00;
    line-height: 1.5;
}
header {
    line-height: 3;
    background-color: rgba(57, 0, 78, 0.353);
}
h1 {
    color: #ffffff;
    font-size: 3em;
    font-weight: 100;
    font-style: normal;
    line-height: 2;
    text-shadow: #04AA6D 1.3px 1.3px 8px, #04AA6D -1.3px -1.3px 8px;
    text-align: center;
}
h2 {
    font-size: 2em;
    /* font-weight: bold; */
    text-shadow: #04AA6D 1.3px 1.3px 8px, #04AA6D -1.3px -1.3px 8px;
}
nav {
    /* line-height: 1; */
    padding-left: 3%;
}
header p {
    padding-left: 3%;
}
section p {
    font-weight: bold
}
a:visited {
    color: white
}
a:hover {
  color: #00cf00;
  text-decoration: none;
}
a:link {
    color: purple
}
a:active {
    color: yellow
}
a:focus {
    color: orange
}
button {
  background-color: black;
  color: #00ff00;
  font-family: 'Share Tech Mono', monospace;
  border: 2px solid #00ff00;
  padding: 10px 20px;
  cursor: pointer;
}
button:hover {
  background-color: #00ff001b;
  color: rgba(255, 255, 255, 0.9);
}